.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 190px;
  overflow: hidden;
  max-width: 400px;
  position: relative;
  margin-bottom: 15px;
}

.mainAdd {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px -14px 15px -3px rgba(42, 240, 195, 0.1);
  width: 100%;
  min-height: 190px;
  overflow: hidden;
  max-width: 600px;
  position: relative;
  margin-bottom: 15px;
}

.header {
  height: 130px;
  padding: 5px 20px;
}
.footer {
  max-width: 400px;
  height: 60px;
  border-top: 0.5px solid lightgray;
}
