.mainFooter {
  display: flex;
  height: 60px;
  align-items: center;
}

.divButton {
  width: 50%;
  display: flex;
  justify-content: center;
}

.btns {
  width: 80%;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete {
  border-color: #f44336;
  color: red;
}
.btnDelete:hover {
  background: #f44336;
  color: white;
}

.btnEdit {
  border-color: #2196f3;
  color: dodgerblue;
}

.btnEdit:hover {
  background: #2196f3;
  color: white;
}
