.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  height: 35px;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  margin-top: 10px;
  padding-inline: 10px;
}

.labelCheckBox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 5px;
}

.btnsDiv {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  border-radius: 5px;
  margin-right: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}
.checkbox:hover {
  border-color: purple;
}
