.mainAdd {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px -14px 15px -3px rgba(42, 240, 195, 0.1);
  width: 100%;
  min-height: 190px;
  overflow: hidden;
  max-width: 600px;
  position: relative;
  margin-bottom: 15px;
}

.newHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.divHeaderTitle {
  width: 70%;
}
.divHeaderButton {
  width: 30%;
}

.btnHeader {
  width: 48%;
  height: 50%;
  border: 2px solid #2fc298;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btnHeaderNew {
  background-color: #2fc298;
  color: white;
}

.btnHeaderNew:hover {
  background-color: white;
  color: #2fc298;
}

.divBody {
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  padding: 1rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;
}
