.App {
  padding: 1rem;
  padding-inline: 1rem;
  min-height: 100vh;
}

.appMain {
  background-color: #fafafa;
  padding: 1rem;
  padding-inline: 2rem;
  position: relative;
}

.btnAdd {
  width: 30%;
  height: 50%;
  border: 2px solid #2fc298;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btnAdd {
  background-color: #2fc298;
  color: white;
}

.btnAdd:hover {
  background-color: white;
  color: #2fc298;
}

@media screen and (min-width: 870px) {
  .App {
    display: grid;
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
